<div class="flex h-screen bg-bg">
  <app-sidebar></app-sidebar>

  <main class="flex-1 p-10 m-10">
    <div class="bg-white rounded-2xl shadow-md p-6">
      <div class="p-6 grid grid-cols-2 grid-rows-2 gap-58 ">
        <ul class="bg-yellow">
          <li *ngFor="let report of reports" class="border p-2 mb-2 rounded">
            <strong>{{ report.entity_name }}</strong> - {{ report.report_topic
            }}<br />
            {{ report.description }} <br />
            <small>{{ report.report_date | date : "short" }}</small>
          </li>
        </ul>
        <ul class="bg-green row-start-2">
          <li *ngFor="let report of reports" class="border p-2 mb-2 rounded">
            <strong>{{ report.entity_name }}</strong> - {{ report.report_topic
            }}<br />
            {{ report.description }} <br />
            <small>{{ report.report_date | date : "short" }}</small>
          </li>
        </ul>
        <ul class="bg-red row-span-2">
          <li *ngFor="let report of reports" class="border p-2 mb-2 rounded">
            <strong>{{ report.entity_name }}</strong> - {{ report.report_topic
            }}<br />
            {{ report.description }} <br />
            <small>{{ report.report_date | date : "short" }}</small>
          </li>
        </ul>
      </div>
    </div>
  </main>

</div>
